<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpfIssues.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="wpfIssue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpfIssues.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wpfIssues.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="logFileName" serializeAs="String">
                <value>wpfIssue.log</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="configFileName" serializeAs="String">
                <value>jxIssues.json</value>
            </setting>
        </wpfIssues.Properties.Settings>
        <wpfIssue.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="logFileName" serializeAs="String">
                <value>wpfIssue.log</value>
            </setting>
            
			<setting name="WindowTop" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowLeft" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowWidth" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowHeight" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value />
			</setting>
        </wpfIssue.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <wpfIssues.Properties.Settings>
            <setting name="serviceIssue" serializeAs="String">
                <value>http://localhost:5010/ServiceIssue/basichttp</value>
            </setting>
        </wpfIssues.Properties.Settings>
    </applicationSettings>
</configuration>